<div class="drawer block">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <div class="h-screen flex flex-col">
      <app-navigation-bar-main />
      <div class="flex flex-1 items-start overflow-hidden">
        <app-navigation-pane
          class="w-52 bg-base-200 h-full hidden md:block overflow-x-auto" />
        <div
          class="flex-1 flex flex-col w-full h-full overflow-hidden"
          *ngIf="$currentContent | async as currentContent">
          <div
            class="flex justify-center items-center w-full gap-3 py-3 px-5 bg-primary flex-wrap">
            <app-navigation-bar class="flex-1 w-full overflow-x-auto" />
            <app-search class="w-full sm:w-auto" />
          </div>
          <app-content-pane
            class="flex-1 overflow-hidden"
            [currentContent]="currentContent" />
        </div>
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <app-navigation-pane class="w-52 bg-base-200 h-full" />
  </div>
</div>
