<div class="flex h-full overflow-hidden">
  <div
    *ngIf="$graph | async as graph"
    class="flex gap-3 flex-wrap flex-1 items-start content-start overflow-y-auto p-3">
    <ng-container
      *ngFor="let node of currentContent.nodes || getParentNodeChilds(graph)">
      <div *ngIf="graph[node] as folderNode">
        <app-folder
          *ngIf="isFolderNode(folderNode); else file"
          [node]="folderNode"
          (click)="setSeletedNode(folderNode)"
          (contextmenu)="setSeletedNode(folderNode)"
          [nodeFocus]="
            currentContent.selectedNode !== undefined &&
            currentContent.selectedNode.path === graph[node].path
          " />
      </div>
      <ng-template #file>
        <div *ngIf="graph[node] as fileNode">
          <app-file
            *ngIf="isFileNode(fileNode)"
            [node]="fileNode"
            (click)="setSeletedNode(fileNode)"
            (contextmenu)="setSeletedNode(fileNode)"
            [nodeFocus]="
              currentContent.selectedNode !== undefined &&
              currentContent.selectedNode.path === graph[node].path
            " />
        </div>
      </ng-template>
    </ng-container>
  </div>
  <div #properties tabindex="0" (click)="setFocusLost()">
    <app-folder-properties
      (showProperties)="handleShowProperties($event)"
      *ngIf="
        openProperties &&
        currentContent.selectedNode &&
        currentContent.selectedNode.type === '__folder__'
      "
      [folder]="currentContent.selectedNode" />
    <app-file-properties
      (showProperties)="handleShowProperties($event)"
      *ngIf="
        openProperties &&
        currentContent.selectedNode &&
        currentContent.selectedNode.type === '__file__'
      "
      [file]="currentContent.selectedNode" />
    <app-placeholder-properties
      (showProperties)="handleShowProperties($event)"
      *ngIf="!currentContent.selectedNode && openProperties" />
    <app-file-properties-modal
      *ngIf="
        currentContent.selectedNode &&
        currentContent.selectedNode.type === '__file__'
      "
      [file]="currentContent.selectedNode"
      [openPropertiesModal]="openPropertiesModal" />
    <app-folder-properties-modal
      *ngIf="
        currentContent.selectedNode &&
        currentContent.selectedNode.type === '__folder__'
      "
      [folder]="currentContent.selectedNode"
      [openPropertiesModal]="openPropertiesModal" />
  </div>
  <app-snackbar
    (click)="setFocusLost()"
    [type]="'alert-info'"
    [hideDuration]="6000"
    [open]="snackbarOpen"
    (afterClose)="snackbarClose()"
    [message]="snackbarMessaege" />
  <app-rename-node-modal
    (click)="setFocusLost()"
    *ngIf="currentContent.selectedNode"
    [open]="openRenameModal"
    (closeModal)="closeRenameModal($event)"
    [node]="currentContent.selectedNode"
    (cancel)="openRenameModal = false" />
</div>
