<div
  class="fixed bottom-0 left-0 w-full px-3 py-2 sm:w-96"
  [@fade]="visibilityState"
  (@fade.start)="$event.element.style.display = 'flex'"
  (@fade.done)="animationDone($event)">
  <div [ngClass]="[type, 'alert flex items-center shadow-xl']">
    <h3 class="font-bold grow">{{ message }}</h3>
    <button (click)="closeSnackbar()" class="btn btn-square btn-sm btn-info">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>
