<div
  [ngClass]="{ 'text-neutral-content bg-neutral': nodeFocus }"
  tabindex="0"
  (focusout)="onClickedOutside($event)">
  <div
    #folderContextMenu
    class="fixed text-base-content z-10 shadow-xl"
    [ngStyle]="contextMenuStyles">
    <app-folder-context-menu
      (clicked)="handleContextMenuAction()"
      *ngIf="isContextMenuOpen"
      (click)="handleContextMenuAction()" />
  </div>
  <a
    (dblclick)="openFolder()"
    (click)="isMobile ? openFolder() : undefined"
    class="text-center select-none flex items-center justify-center flex-col w-24 p-1"
    (contextmenu)="openContextMenu($event)">
    <fa-icon [icon]="faFolder" class="text-4xl"></fa-icon>
    <p
      [ngClass]="{
        'line-clamp-2 break-words w-full': true,
        'line-clamp-none': nodeFocus
      }">
      {{ node.name }}
    </p>
  </a>
</div>
