<tr *ngIf="$sortParams | async as sortParams">
  <th
    (click)="sortChildsBy('name')"
    class="btn btn-ghost rounded-none table-cell border-none text-start">
    <div class="flex justify-between">
      <div>Name</div>
      <div>
        <fa-icon
          *ngIf="sortParams.sortType === 'name'"
          [icon]="faArrowUp"
          [rotate]="sortParams.ascending ? undefined : 180"
          class="transition"></fa-icon>
      </div>
    </div>
  </th>
  <th
    (click)="sortChildsBy('modified')"
    class="btn btn-ghost rounded-none table-cell border-none text-start hidden lg:table-cell">
    <div class="flex justify-between">
      <div>Modified</div>
      <div>
        <fa-icon
          *ngIf="sortParams.sortType === 'modified'"
          [icon]="faArrowUp"
          [rotate]="sortParams.ascending ? undefined : 180"
          class="transition"></fa-icon>
      </div>
    </div>
  </th>
  <th
    (click)="sortChildsBy('size')"
    class="btn btn-ghost rounded-none table-cell border-none text-start hidden lg:table-cell">
    <div class="flex justify-between">
      <div>Size</div>
      <div>
        <fa-icon
          *ngIf="sortParams.sortType === 'size'"
          [icon]="faArrowUp"
          [rotate]="sortParams.ascending ? undefined : 180"
          class="transition"></fa-icon>
      </div>
    </div>
  </th>
</tr>
