<div class="h-full hidden md:block">
  <div class="card w-80 bg-base-200 text-base-content shadow-xl h-full">
    <div class="card-body">
      <div class="card-actions w-full text-xl flex-nowrap">
        <div><fa-icon [icon]="getIcon()"></fa-icon></div>
        <h4 class="font-bold flex-1 line-clamp-4 break-words">
          {{ file.name }}
        </h4>
        <button class="btn btn-square btn-sm" (click)="handleCloseProperties()">
          <fa-icon [icon]="faX"></fa-icon>
        </button>
      </div>
      <div class="text-center text-4xl my-4">
        <fa-icon [icon]="getIcon()"></fa-icon>
      </div>
      <div class="divider">Details</div>
      <div class="prose-md">
        <ul>
          <li>
            <span class="font-bold">Created at: </span>
            <span>{{ file.date }}</span>
          </li>
          <li>
            <span class="font-bold">Created by: </span>
            <span>{{ file.creatorName }}</span>
          </li>
          <li class="break-all">
            <span class="font-bold">Path: </span>
            <span class="">{{ file.path }}</span>
          </li>
          <li>
            <span class="font-bold">Size: </span>
            <span>{{ size }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
