<footer class="footer footer-center p-10 bg-base-200 text-base-content">
  <aside>
    <p>Copyright © 2023 - Stivent Vargas, All right reserved</p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://github.com/stventek"
        ><fa-icon [icon]="faGithub" class="text-4xl"></fa-icon
      ></a>
      <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://twitter.com/stventekk"
        ><fa-icon [icon]="faTwitter" class="text-4xl"></fa-icon
      ></a>
      <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://www.linkedin.com/in/stivent-vargas-dev"
        ><fa-icon [icon]="faLinkedIn" class="text-4xl"></fa-icon
      ></a>
      <a href="mailto:stiventvargas09@gmail.com"
        ><fa-icon [icon]="faEnvelope" class="text-4xl"></fa-icon
      ></a>
    </div>
  </nav>
</footer>
