<div class="hidden md:block card w-80  bg-base-200 text-secondary-content shadow-xl h-full">
    <div class="card-body items-center text-center">
      <h2 class="card-title">File properties</h2>
      <div class="prose-md">
        <ul>
            <li>
                <span class="font-bold">Size: </span>
                <span>Data</span>
            </li>
            <li>
                <span class="font-bold">Created at: </span>
                <span>Data</span>
            </li>
            <li>
                <span class="font-bold">Created by: </span>
                <span>Data</span>
            </li>
            <li>
                <span class="font-bold">Name: </span>
                <span>Data</span>
            </li>
            <li>
                <span class="font-bold">Path: </span>
                <span>Data</span>
            </li>
            <li>
                <span class="font-bold">Size: </span>
                <span>Data</span>
            </li>
        </ul>
      </div>
    </div>
  </div>