<tr
  (contextmenu)="openContextMenu($event)"
  tabindex="0"
  (focusout)="onClickedOutside($event)"
  [ngClass]="{
    'bg-neutral': nodeFocus,
    'hover:neutral': nodeFocus,
    'hover:bg-neutral-focus': !nodeFocus
  }">
  <td>
    <div class="flex items-center space-x-3 h-8">
      <div>
        <fa-icon [icon]="getIcon()"></fa-icon>
      </div>
      <div>
        {{ node.name }}
      </div>
    </div>
  </td>
  <td class="hidden lg:table-cell">{{ node.date }}</td>
  <td class="hidden lg:table-cell">{{ node.size }}</td>
  <div
    #fileContextMenu
    class="fixed text-base-content z-10 shadow-xl"
    [ngStyle]="contextMenuStyles">
    <app-file-context-menu
      *ngIf="isContextMenuOpen"
      (click)="handleContextMenuAction()" />
  </div>
</tr>
