<nav class="text-sm breadcrumbs">
    <ul>
        <li>
            <ng-container *ngIf="navigationItems.length > 1; else up">
                <a [routerLink]="navigationItems[navigationItems.length - 2].path">UP</a>
            </ng-container>
            <ng-template #up>
                <span>UP</span>
            </ng-template>
        </li>
        <ng-container *ngFor="let item of navigationItems">
            <li><a [routerLink]="item.path" >{{item.text}}</a></li>
        </ng-container>
    </ul>
</nav>