<div tabindex="0" class="flex items-center justify-center flex-col w-24 focus:bg-neutral focus:text-neutral-content p-1" (contextmenu)="openContextMenu($event)">
    <app-file-context-menu *ngIf="isContextMenuOpen" ngClass="fixed text-base-content" [style.top.px]="y" [style.left.px]="x" appClickedOutside (clickedOutside)="onClickedOutside($event)"/>
    <fa-icon [icon]="getIcon()" class="text-4xl"></fa-icon>
    <p class="text-center line-clamp-2 hover:line-clamp-none select-none">{{node.name}}</p>
</div>
