<ul class="navigation-folder">
  <div
    [routerLink]="node.path"
    class="parent-folder btn btn-sm block btn-ghost flex justify-start whitespace-nowrap"
    (click)="hiddenChildren = !hiddenChildren">
    <span class="block flex w-full gap-1"
      ><fa-icon [icon]="faFolder"></fa-icon>
      <span class="overflow-hidden whitespace-nowrap text-ellipsis">{{
        node.name
      }}</span>
      <fa-icon
        class="ml-auto arrow-icon transition"
        [class.fa-rotate-90]="hiddenChildren"
        [class.fa-rotate-270]="!hiddenChildren"
        [icon]="faArrowRight"></fa-icon>
    </span>
  </div>
  <ng-container *ngFor="let child of node.children">
    <li
      *ngIf="graph[child].type === '__folder__'"
      class="ml-4"
      [hidden]="hiddenChildren">
      <app-navigation-folder [nodeId]="child" />
    </li>
  </ng-container>
</ul>
