<summary [routerLink]="node.path">
  <fa-icon [icon]="faFolder" class=""></fa-icon>
  {{ node.name }}
</summary>
<ul>
  <ng-container *ngFor="let child of childsFolders">
    <li>
      <details
        *ngIf="
          childrenChildrenFolders[child.path + '__folder__'].length > 0;
          else noChildFoldersTemplate
        "
        app-navigation-folder
        [node]="child"
        [childsFolders]="
          childrenChildrenFolders[child.path + '__folder__']
        "></details>
      <ng-template #noChildFoldersTemplate>
        <a [routerLink]="child.path">
          <fa-icon [icon]="faFolder" class=""></fa-icon>
          {{ child.name }}
        </a>
      </ng-template>
    </li>
  </ng-container>
</ul>
