<dialog id="my_modal_1" class="modal" [class.modal-open]="open">
  <form
    #ngForm="ngForm"
    method="dialog"
    class="modal-box w-72"
    [formGroup]="form"
    (ngSubmit)="handleClose()">
    <h3 class="font-bold text-lg mb-4">Rename</h3>
    <input
      type="text"
      formControlName="name"
      class="input input-bordered w-full"
      [class.input-error]="form.get('name')?.errors && ngForm.dirty"
      name="rename" />
    <div *ngIf="form.get('name')?.hasError('duplicatedNodeName')">
      File already exists
    </div>
    <div *ngIf="form.get('name')?.hasError('required') && ngForm.dirty">
      name cannot be empty
    </div>
    <div *ngIf="form.get('name')?.hasError('pattern') && ngForm.dirty">
      Invalid folder name. Please use only letters, numbers, underscores, and
      hyphens.
    </div>
    <div class="modal-action">
      <!-- if there is a button in form, it will close the modal -->
      <a class="btn" (click)="handleCancel()">Cancel</a>
      <a
        class="btn"
        (click)="handleClose()"
        [class.btn-disabled]="form.invalid">
        Save
      </a>
    </div>
  </form>
</dialog>
